.input {
    width: calc(100% - 15px);
    height: 46px;
    border-radius: 8px;
    margin: 0 auto;
    background-color: #f4f4f4;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding: 0 0 0 15px;
    border: none;
    outline: 0;
}

.input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
}

.input__text {
    width: 100%;
    color: #a0a0a0;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin: 10px 0;
}

.input__text_type_error {
    color: #ee3465;
    margin: 10px 0 0 0;
}

.input_type_profile {
    background-color: transparent;
    text-align: right;
    outline: none;
    width: auto;
    margin: 0 0 0 auto;
    height: auto;
    border-radius: 5px;
}

.input_type_profile:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
}
