.portfolio {
    position: relative;
    width: 100%;
    padding: 100px 0 125px 0;
}

.portfolio__title {
    margin: 0 0 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #a0a0a0;
}

.portfolio__link {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
}

.portfolio__link:last-of-type {
    border-bottom: none;
}

.portfolio__link-text {
    font-size: 30px;
    line-height: 50px;
    padding-bottom: 19px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.portfolio__link-text:hover {
    opacity: .7;
}

.portfolio__link-arrow {
    width: 20px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../images/portfolio-arrow.svg);
}

@media screen and (max-width: 1280px) {

    .portfolio {
        padding: 90px 0;
    }

    .portfolio__link-text {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {

    .portfolio {
        padding: 70px 0;
    }

    .portfolio__link-text {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__link-arrow {
        width: 14px;
        height: 28px;
    }
}

