.main {
    position: relative;
    max-width: 100%;
}

.main-title {
    margin: 0;
    padding: 110px 0 23px;    
    position: relative;
    font-size: 22px;
    line-height: 26px;
    border-bottom: 2px solid #000;
}


@media screen and (max-width: 920px) {
    .main-title {
        padding: 90px 0 23px;
    }
}

@media screen and (max-width: 620px) {
    .main-title {
        padding: 70px 0 28px;
    }
}