.navigation {
    position: relative;
    display: flex;
}

.navigation__link {
    text-decoration: none;
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;
    margin: auto 20px auto 0;
    color: #000;
}

.navigation__link:last-of-type {
    margin-right: 0;
}

.navigation__link:hover {
    opacity: .7;
}

.navigation__link_active {
    font-weight: 600;
}

.navigation__link_type_side {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 7px;
    color: #000;
    margin-bottom: 22px;
    text-align: center;
    width: auto;
}

.navigation__link_type_side_active {
    border-bottom: 1px solid #000;
}

.navigation_type_side {
    flex-direction: column;
    align-items: center;
}