.header {
    position: relative;
    width: 100%;
    background-color: #dddee3;
    justify-items: center;
    height: 74px;
}

.header_type_light {
    background-color: #fafafa;
}

.header__content {
    position: relative;
    height: 100%;
    margin: 0 auto;
    max-width: 1140px;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    justify-self: center;
    align-content: center;
}

.header__menu {
    margin: auto 0;
    display: flex;
    position: relative;
}

.header__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    align-self: center;
}

.header__link:hover {
    opacity: .7;
}