.login {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    max-width: 396px;
    justify-self: center;
    background-color: #fff;
    align-items: center;
}

@media screen and (max-width: 620px) {

    .login {
        max-width: 100%;
        margin: 0 30px;
        padding: 0;
    }
}